<a href="/home/zebra">Link to Zebras</a>
<br>
<a href="/home/lions">Link to Lions</a>
<br>
<br>
<address>
  <strong>Marilyn de Castro</strong><br>
  Saunders Street<br>
  Coburg VIC 3058<br>
  <abbr title="Phone">M:</abbr> 0425 801 458<br>
  <a href="mailto:#">marilyn.decastro@gmail.com</a>
</address>