This is a lion!
////
<br>

<blockquote>
  <p>ROAR!</p>
  <footer>Said Simba in <cite title="Source Title">The Lion King</cite></footer>
</blockquote>

<br>

<table class="table table-bordered">
<tr>
<td> Col 1 </td>
<td> Col 2 </td>
<td> Col 3 </td>
</tr>
<tr>
<td> A </td>
<td> B </td>
<td> C </td>
</tr>
</table>
<a href="/home/index">Home</a>